<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SPA Rocks!</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    @RenderBody()
    <script src="~/dist/common.js" type="text/javascript" asp-append-version="true"></script>
    @RenderSection("scripts", false)
</body>
</html>